#####################
# Python
#####################

# Ignore compiled py files
*.pyc

# Ignore our detection system
detection_system_wali.py

detection_system_wali.pyc

#Private Key
/thirdeye_server_priv.key