/thirdeye_server_cert.crt
#####################
# Python
#####################

# Ignore compiled py files
*.pyc

# Ignore our detection system
detection_system_wali.py
/thirdeye_server_priv.key
detection_system_wali.pyc
