<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://localhost:7080/static/jquery.min.js"></script>
    <script src="http://localhost:7080/static/aes.js"></script>
    <script src="http://localhost:7080/static/sha3.js"></script>
    <script src="http://localhost:7080/static/jsencrypt.js"></script>
    <script src="http://localhost:7080/static/decrypt.js"></script>
    <meta charset="UTF-8">
    <title>Decryption Page</title>
</head>
<body>
This page has a JS script that does decryption for us. Just let it run like this. It will do the job for you
</body>
</html>